.odd {
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
    font-size: 24px;
}

.cooler {
    font-weight: bold;
}

#one {
    color: blue;
    font-size: 36px;
}

#another {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

